{% extends 'base.html.twig' %}
{% block mainTitle %}{{ post.title }}{% endblock %}
{% block content %}

    {% if is_granted('publish', post) %}
        <div class="d-flex justify-content-end">
            <a href="{{ path('post_edit', {id:post.id}) }}" class="btn btn-outline-warning mr-2">Editer</a>

            {% if post.isPublished %}
                <a href="{{ path('post_publish', {id:post.id}) }}" class="btn btn-danger">Dépublier</a>
            {% else %}
                <a href="{{ path('post_publish', {id:post.id}) }}" class="btn btn-success">Publier</a>
            {% endif %}
        </div>

            {% endif %}


    <div class="the-post">
            <p class="post-content">{{ post.content }}</p>
        </div>

    <div class="all-comments">
        {% for comment in comments %}
            <div class="one-comment">
                <p>De {{ comment.author.name }} {{ comment.author.lastname }}, le {{ comment.createdAt|date('d-m-Y') }} à {{ comment.createdAt|date('H:i') }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_USER') %}
        {% include 'comment/add.html.twig' %}
    {% endif %}


{% endblock %}
